.container-dark {
    background-color: #2D353F;
    padding-top: 70;
}

.container-light {
    background-color: #E4EAF1;
    padding-top: 70;
}

.text-dark {
    color: #2D353F;
    text-align: center;
}

.text-light {
    color: #E4EAF1;
    text-align: center;
    font-family: Monaco;
}

.text-big {
    font-size: 18;
}

.text-small {
    font-size: 11;
}

.text-bigger {
    font-size: 78;
}

.text-medium {
    font-size: 14;
}

.image-main {
    height: 50;
}

.image-wind {
    height: 20;
    margin-top: -3;
}

.image-tabel {
    height: 30;
}

.wind-container {
    padding: 20;
}

.body {
    margin-top: -75;
}

.footer {
    margin-top: 10;
    margin-bottom: 10;
}

.tabel {
    margin-top: 20;
}